button {
	font-family: inherit;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 10px;
	align-items: center;
}

.column-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-bottom: 10px;
}

.chart-container {
	height: 600px;
	width: 600px;
	margin: auto;
	margin-bottom: 40px;
	padding: 30px;
	border: 5px solid rgba(9, 4, 70, 1);
	border-radius: 20px;
	background: #ffffff;
	box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}

.checkbox {
	margin: 0;
	height: 21px;
}

.description {
	width: 350px;
	margin: auto;
	margin-bottom: 17px;
}

.error {
	color: red;
	padding-bottom: 10px;
}

form {
	width: 350px;
	display: flex;
	flex-direction: column;
	text-align: center;
	gap: 10px;
	margin: auto;
}

/* .form-container {
	width: 350px;
	margin: auto;
	margin-top: 20px;
} */

h3 {
	margin: 0;
	margin-bottom: 5px;
	text-decoration: underline;
}

input {
	width: 40px;
}

.input-error {
	outline: none !important;
	border: 1px solid red;
	box-shadow: 0 0 10px #719ece;
}

p {
	font-size: 11px;
}

#root {
	padding: 30px;
	min-height: 100vh;
}

ul {
	display: table;
	margin: 0 auto;
}
